@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* bodyの最小高さを100vhに設定 */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1% 0;
}


.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li {
    margin-right: 3%;
}

.nav-links li a {
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid #ffffff;
    text-decoration: none;
    color: #F9F9F9;
}

.nav-links li a:hover {
    background-color: #333;
    color: #E40505;
}

/* フッターをページの一番下に配置 */
footer {
    background-color: #000;
    color: #fff;
    padding: 1%;
    text-align: center;
    width: 100%;
    margin-top: auto; /* コンテンツが短い場合でもフッターを最下部に配置 */
}

.relative-content {
    margin-bottom: 5px;
}

/* 検索バー＆ボタンの位置 */
#searchInput {
    margin-top: 10px;
}

/* ページトップに戻るボタン */
.pagetop {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    font-size: 1.5rem;
    width: 3.3rem;
    height: 3.3rem;
    line-height: 3.3rem;
    border-radius: 3.3rem;
    text-align: center;
    cursor: pointer;
}

/* S字マーク */
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #00aeff;
    line-height: 35px;
    margin: 0% 0% -2% 0%;
}

#circle1 {
    font-size: 30px;
    color: #00aeff;
}

.kinnsi {
    font-size: 150%;
}

/* 検索 */
button {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    width: 200px;
    margin-right: 10px;
    padding: 5px;
}

/* 検索結果文字 */
.searchResult {
    color: rgb(86, 86, 228);
    text-decoration: none;
}

.searchResult:hover {
    color: #FF0000;
}

/* チェックボックスのサイズ調整 */
input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 7px;
    cursor: pointer;
    margin-top: 20px;
}

label {
    margin-right: 15px;
}

.search1 {
    margin: 0% 0% 0% 38%; /* 左右の余白を自動的に調整して中央に寄せる */
    text-align-last: left; /* 最終行のテキストを左揃えにする */
    font-size: 70%;
}

/* チェックボックスとラベルの間にスペースを追加 */
label {
    margin-right: 15px;
}

/*絞り込み機能のボタン*/
.narrow-down-button {
    display: flex;
    flex-wrap: wrap; /* 要素がはみ出たら折り返す */
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}


.narrow-down-button li {
    margin-right: 3%;
}

.narrow-down-button li a {
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid #000000;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.narrow-down-button li a:hover {
    color: #E40505;
}

/*都道府県のボタン*/
.narrow-down-button-prefectures {
    display: flex;
    flex-direction: column; /* 縦並びに設定 */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; /* 水平方向に中央揃え */
    margin-top: 20px;
}

.narrow-down-button-prefectures li {
    margin-bottom: 10px; /* アイテム間のスペースを調整 */
}

.narrow-down-button-prefectures li a {
    display: inline-block;
    padding: 10px 20px;
    width: 200px; /* ボタンの幅を固定 */
    border: 3px solid #000000;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-align: center; /* テキストを中央揃え */
}

.narrow-down-button-prefectures li a:hover {
    color: #E40505;
}




/*iPhone11.XR.11proMax.XSMax対応*/
/*iPhone12proMax.13proMax.14Plus対応*/
@media screen and (max-width: 428px) {

.nav-links li a {
    padding: 0px 16px; /* スマートフォン向けに上下の余白を調整 */
    border: 2px solid #ffffff; /* スマートフォン向けに境界線を調整 */
    height: 30px; /* スマートフォン向けにボタンの高さを調整 */
    line-height: 30px; /* スマートフォン向けにテキストを垂直方向に中央揃え */
}

.circle {
    width: 25px;
    height: 25px;
    line-height: 22px;
    margin: 2% 0% 0% 0%;
}

#circle1 {
    font-size: 20px;
    color: #00aeff;
}

.kinnsi2{
    font-size: 67%;
    margin: -4% 0% 0% 10%
}

.narrow-down-button {
    justify-content: flex-start; /* 左寄せ */
}
.narrow-down-button li {
    flex: 1 0 30%; /* アイテムが45%の幅を持つ */
    margin: 5px; /* アイテム間のスペース */
}
}

/*iPhone12.13.14対応*/
@media screen and (max-width: 390px) {

.nav-links li a {
    padding: 0px 16px; /* スマートフォン向けに上下の余白を調整 */
    border: 2px solid #ffffff; /* スマートフォン向けに境界線を調整 */
    height: 30px; /* スマートフォン向けにボタンの高さを調整 */
    line-height: 30px; /* スマートフォン向けにテキストを垂直方向に中央揃え */
}

.circle {
    width: 20px;
    height: 20px;
    line-height: 17px;
    margin: 3% 0% 0% 0%;
}

#circle1 {
    font-size: 17px;
    color: #00aeff;
}

.kinnsi2{
    font-size: 66%;
    margin: -4% 0% 0% 10%
}


}  

@media screen and (max-width: 375px) {

.nav-links li a {
    padding: 0px 16px; /* スマートフォン向けに上下の余白を調整 */
    border: 2px solid #ffffff; /* スマートフォン向けに境界線を調整 */
    height: 30px; /* スマートフォン向けにボタンの高さを調整 */
    line-height: 30px; /* スマートフォン向けにテキストを垂直方向に中央揃え */
}

.relative-content1 img {
    width: 13%;
    margin: 0% 0% 0% 60%;
}

.circle {
    width: 20px;
    height: 20px;
    line-height: 17px;
    margin: 3% 0% 0% 0%;
}

#circle1 {
    font-size: 17px;
    color: #00aeff;
}

.kinnsi2{
    font-size: 60%;
    margin: -4% 0% 0% 13%
}

.narrow-down-button {
    justify-content: flex-start; /* 左寄せ */
}
.narrow-down-button li {
    flex: 1 0 30%; /* アイテムが45%の幅を持つ */
    margin: 5px; /* アイテム間のスペース */
}
}
    
/*Android対応*/
@media screen and (max-width: 360px) {

.nav-links li a {
    padding: 0px 16px; /* スマートフォン向けに上下の余白を調整 */
    border: 2px solid #ffffff; /* スマートフォン向けに境界線を調整 */
    height: 30px; /* スマートフォン向けにボタンの高さを調整 */
    line-height: 30px; /* スマートフォン向けにテキストを垂直方向に中央揃え */
}

.relative-content1 img {
    width: 13%;
    margin: 0% 0% 0% 60%;
}
    
.circle {
    width: 20px;
    height: 20px;
    line-height: 17px;
    margin: 4% 0% 0% 0%;
}

#circle1 {
    font-size: 17px;
    color: #00aeff;
}

.kinnsi2{
    font-size: 60%;
    margin: -4% 0% 0% 13%
}

.narrow-down-button {
    justify-content: flex-start; /* 左寄せ */
}
.narrow-down-button li {
    flex: 1 0 30%; /* アイテムが45%の幅を持つ */
    margin: 5px; /* アイテム間のスペース */
}
}

